.category-products-area {
  max-height: 250px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: auto;
  width: 60%;
  padding: 10px;
  justify-content: space-evenly;
  flex-direction: column;
  position: relative;
  z-index: 5;
}

.category-product {
  padding: 10px;
  height: 29px;
  width: max-content;
  border: 1px solid green;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 25%;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  z-index: 5;
  &:hover{
    background-color: #efefef;
  }
}

.delete-product {
  cursor: pointer;
  position: relative;
  z-index: 5;
  &:hover {
    color: red;
  }
}
