.shopping-list {
  position: relative;
  width: 100%;


  img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: auto;
    opacity: 10%;
    z-index: 1;
    background-repeat: repeat;

  }

  //&::before {
  //  content: '';
  //  background-image: url('../../../assets/images/back.jpeg');
  //  //background-size: cover;
  //  background-position: top center;
  //  position: absolute;
  //  top: 0px;
  //  right: 0px;
  //  bottom: 0px;
  //  left: 0px;
  //  opacity: 10%;
  //}

  .title {
    padding-top: 50px;
    text-align: center;
    color: #198fad;
    font-size: 40px;
    z-index: 5;
    position: relative;
  }

  .category-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 21px;
    margin: 30px auto 15px auto;
    width: 50%;
    padding: 10px;
    justify-content: space-evenly;
    //color: red;
    position: relative;
    z-index: 5;


    .category {
      width: max-content;
      height: max-content;
      padding: 12px;
      cursor: pointer;
    }

    .category:hover {
      color: #198fad;
    }

    .tab-selected {
      color: #198fad;
      font-weight: 500;
      border-bottom: 2px solid;
    }
  }


  .error-message-black {
    text-align: center;
    color: black;
    font-weight: bold;
    width: max-content;
    height: max-content;
    position: relative;
    z-index: 5;
    margin-left: auto;
    margin-right: auto;
  }
  .error-message-red {
    color: red;
    font-weight: bold;
    width: max-content;
    height: max-content;
    position: relative;
    z-index: 5;
    margin-left: auto;
    margin-right: auto;
  }

  .input-product-name {
    width: max-content;
    height: 18px;
    border: none;
    border-bottom: 1px solid grey;
    margin-right: 8px;
    font-size: 15px;
    position: relative;
    z-index: 5;
    margin-bottom: 18px;
    padding: 9px 0 9px 4px;
  }

  .add-btn {
    background-color: #01ad01;
    color: white;
    min-width: max-content;
    min-height: max-content;
    height: 39px;
    width: 97px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-size: 15px;
    position: relative;
    z-index: 5;
    &:hover{
      background-color: #01da01;
      //color: #00bb00;

    }

  }

  .export-btn {
    background-color: #198fad;
    color: white;
    width: max-content;
    height: max-content;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    display: flex;
    text-align: center;
    padding: 13px;
    margin: 30px auto;
    position: relative;
    z-index: 5;
    &:hover{
      background-color: #06a5ff;
    }
  }

  .add-product-section {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 5;
    flex-direction: column;
    align-items: center;
  }
}
