<div class="shopping-list">
  <img src="../../../assets/images/back.jpeg"/>
  <div class="title">SUPER MARKET LIST</div>
  <div class="category-row">
    <div class="category" *ngFor="let category of tabs" (click)="setSelectedCategory(category)"
         [ngClass]="{'tab-selected' : category.name === selectedCategory.name}">{{category.name}}</div>
  </div>
  <app-category-products-area *ngIf="!errorFlag; else notP;" [selectedCategory] = selectedCategory [tabs]="tabs" [errorFlag]="errorFlag"></app-category-products-area>
  <ng-template #notP>
    <p class="error-message-black">There is no products in this category: {{selectedCategory.name}}</p>
  </ng-template>
  <div class="add-product-section">
    <div>
      <input type="text" class="input-product-name" placeholder="Enter name of product" [formControl]="productName">
      <button class="add-btn" (click)="addProduct(productName)">Add product</button>
    </div>
    <p *ngIf="errorNameFlag" class="error-message-red">enter valid product name</p>
  </div>
  <button class="export-btn" (click)="getCsv()">Export to CSV</button>
</div>

